.label {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10pt;
  color: #357;
}

.label-regular {
  font-weight: lighter;
}

.label-title {
  font-size: 14pt;
  font-weight: bold;
  display: block;
  line-height: 3em;
}
